 @mixin body-txt {
  font-size: rem(15);
  line-height: 1.73;
  font-weight: 400;
  color: $Dark-grayish-blue;
 }

 @mixin heading-txt {
  color: $Very-dark-blue;
  font-weight: 800;
 }

 @mixin flex-centering {
  display: flex;
  align-items: center;
  justify-content: space-between;
 }